*{
    color: black;
}
th{
    border:1px solid blue;
    background-color: greenyellow;
    margin:auto;
    /* width: 100px; */
}
tr{
    /* margin: 50px; */
    /* padding:10vw; */
    text-align: center;
    /* width:100px; */
    
}

div{
    background-color: white;
}
